			<div v-if="!story.Hide">
				<div class="story story--expanded">
					<h4 class="story__title">#{{ story['ID']}} {{ story['Titre'] }}</h4>
					<table>
						<tr>
							<th colspan=2>Environnement</th>
							<th colspan=4>Langues</th>
							<th colspan=6>Scope</th>
						</tr>
						<tr>
							<td colspan=2>thalys.com</td>
							<td colspan=1>FR</td>
							<td colspan=1>DE</td>
							<td colspan=1>EN</td>
							<td colspan=1>NL</td>
							<td colspan=2>mobile</td>
							<td colspan=2>tablette</td>
							<td colspan=2>desktop</td>
						</tr>
						<tr>
							<td colspan=12 class="table-separator"></td>
						</tr>
						<tr>
							<th colspan=3>Owner</th>
							<th colspan=3>Statut</th>
							<th colspan=3>Valeur</th>
							<th colspan=3>Complexité</th>
						</tr>
						<tr>
							<td colspan=3>Antonin</td>
							<td colspan=3>{{ story['Statut'] }}</td>
							<td colspan=3>{{ story['Valeur'] }}</td>
							<td colspan=3>{{ story['Complexité'] }}</td>
						</tr>
					</table>
					<blockquote class="story__quote">
						«En tant que "{{ story['En tant que'] }}", je veux {{ story['Je veux'] }}<span v-if="story['Pourquoi']">, </span>{{ story['Pourquoi'] }}.»
					</blockquote>
					<div v-if="story['Présentation'] v-html="marked(story['Présentation'])" class="story__detail__text"></div>
					<div v-if="story.Illustrations" class="story__detail__illustrations illustrations">
						<span
							class="illustration"
							v-for="illustration in story['Illustrations']"
							>
							<img
								class="illustration__image"
								:src="illustration.thumbnails.small.url"
								v-on:click="openModal({'image': illustration.url })"
								/>
							<a :href="illustration.url" hidden>Voir</a>
						</span>
					</div>
				</div>
				<div class="story story--retracted">
					#{{ story['ID']}} {{ story['Titre'] }}
				</div>
			</div>