body {
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
	margin: 0;
	color: #222;
	line-height: 1.625;
}

#app { max-width: 48rem; margin: auto; }

h1 { }


/* Themes, epics and stories */

.theme, .epic, .story {
	padding: 1rem;
	margin: 1rem 0;
}

.story:not(:last-child) { border-bottom: 1px solid #eee; }

.theme__title, .epic__title, .story__title { margin-top: 0; }

.epic { padding: 1rem; }

.epic__title::before { content: "■ ";  color: #ad1635; }
.story--retracted::before { content: "• ";  color: #ad1635; }

blockquote {
	position: relative;
	margin-left: 0;
	padding-left: 1rem;
	border-left: .25rem solid #AD1635;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
	font-size: 1.25rem;
}



/* Illustrations */

.illustrations {
	margin: .5rem -.5rem;
	display: flex;
	flex-wrap: wrap;
}

.illustration__image {
	max-width: 16rem; max-height: 16rem;
	min-width: 2rem; min-height: 2rem;
	border-radius: 4px;
	margin: .5rem;
	cursor: pointer;
	transition: transform .25s;
}

.illustration__image:hover {
	transform: rotate(1deg) translateY(-.1rem) translateX(.1rem);
}

.illustration__image:active {
	transform: scale(1.1);
}


.light-text { font-style: italic; color: #999;	}
.light { font-weight: normal; color: #999; font-size: .8em; }



/* Modal */

.modal__wrapper {
	position: fixed; top: 0; left: 0; bottom: 0; right: 0;
	background-color: rgba(0,0,0,0.25);
	opacity: 0;
	pointer-events: none;
	transition: opacity .5s;
}

.modal__wrapper.deployed {
	opacity: 1;
	pointer-events: auto;
}

.modal {
	height: 100%; width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	cursor: pointer;
}

.modal__image {
	max-width: 100%;
	background-color: rgba(0,0,0,.5);
	box-shadow: 0 0 1rem .25rem rgba(0,0,0,.35);
}

table { text-align: center; width: 100%; border-collapse: collapse;  font-size: .8rem;}
td, th { border: 1px solid #eee; }
th { background-color: #ecced4; }
.table-separator { border: none; height: 1em; }